* {
    margin: 0;
    padding: 0;
}

/* CABEÇALHO */

ul {
    list-style: none;
}

header {
    background-color:crimson;   
}

header h1 {
    text-align: center;
    background-color: cornflowerblue;
    padding: 10px 0;
}

#main-container {
    background-color: black;
    color: aliceblue;
    height: 100vh;
}

#nav-pesquisa {
    background-color:darkslateblue;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}

#input-pesquisa {
    width: 30%;
    text-align: center;
}

.nav-listaMenu {
    display: flex;
    width: 30%;
    justify-content: space-around;
    font-size: 1.32rem;
}

.nav-listaMenu li {
    cursor: pointer;
}

.nav-listaMenu li:hover {
    transition: 110ms;
    color: rgb(197, 197, 197);
}

/* CARROSSEL */

.carrossel-container {
    background-color: darkred;
    margin: 50px;
    text-align: center;
}

#produtos-container {
    background-color: darkgreen;
}

#produtos-container h2 {
    text-align: center;
}

#produtos-divStyle {
    margin-top: 15px;
    background-color: goldenrod;
    display: flex;
    justify-content: space-around;
}

.produto-child {
    background-color: lightseagreen;
    text-align: center;
    padding: 10px 10px;
}

.produto-child h6 {
    margin-top: 10px;
}