* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: aliceblue;
    background-color: black;
}

/* CABEÇALHO */

ul {
    list-style: none;
}

header {
    background-color:crimson;
}

header h1 {
    text-align: center;
    background-color: cornflowerblue;
    padding: 10px 0;
}

#nav-pesquisa {
    background-color:darkslateblue;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}

#input-pesquisa {
    width: 30%;
    text-align: center;
}

.nav-listaMenu {
    display: flex;
    width: 30%;
    justify-content: space-around;
    font-size: 1.32rem;
}

.nav-listaMenu li {
    cursor: pointer;
}

.nav-listaMenu li:hover {
    transition: 110ms;
    color: rgb(197, 197, 197);
}

/* FIM - CABEÇALHO */

/* CARROSSEL */

#carrossel-container {
    width: 80vw;
    height: 75vh;
    margin: 50px auto;
    overflow: hidden;
}

#div-slidesEinputs {
    background-color: bisque;
    height: 90%;
    overflow: hidden;
    display: flex;
    width: 300%;
}

#div-slidesEinputs input {
    display: none;
}

#nav-label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.label-nav {
    width: 80px;
    height: 20px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    background-color: aliceblue;
}

.label-nav:not(:last-child) {
    margin-right: 20px;
}

.label-nav:hover{
    transition: 0.3s;
    background-color: rgb(128, 128, 128);
}

.slide {
    width: 33.35%;
    transition: 0.9s;
}

.slide img {
    width: 100%;
}

#input1:checked ~ .s1 {
    margin-left: 0px;
}

#input2:checked ~ .s1 {
    margin-left: -33.35%;
}

#input3:checked ~ .s1 {
    margin-left: -66.7%;
}

/* FIM - CARROSSEL */

/* PRODUTOS */

#produtos-container h2 {
    text-align: center;
}

#produtos-divStyle {
    margin-top: 30px;
    /* background-color: goldenrod; */
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: space-around;
}

.produto-child {
    background-color: lightseagreen;
    text-align: center;
    padding: 20px 15px 5px 15px;
    cursor: pointer;
    border: 2px aliceblue solid;
}

.produto-child:hover {
    transition: 0.4s;
    opacity: 0.8;
}

.produto-child h6 {
    margin-top: 15px;
}

.foto-produtos {
    width: 100px;
}

